<% if current_user %>
  <h2> Welcome to Small <%= current_user.first_name %> </h2> <%= image_tag current_user.image.url %>
<% else %>
  <h2> Welcome to Small </h2>
<% end %>    

  <% if @posts.any? %>
    <ul style="list-style: none;">
      <% @posts.each do |post| %>
        <li>
          <%= link_to post.title, post_path(post) %><br>
          <%= post.teaser %>
        </li>
      <% end %>
  <% else %> 
    <p> There are currently no Post. Please come back later </p>
  <% end %>  
