<%= link_to 'Home', root_path %>

<h1><%= current_user.first_name %>'s Posts</h1>

<% @posts.each do |post| %>
	<%= link_to post.title, post_path(post) %><br>
<% end %>

<hr>
<%= link_to 'Add a post', new_post_path %>

