<div class="container">
	<div class="row">
		<%= link_to 'Home', root_path %>
		<div class="col s10 offset-s1">
			<h1 class="center-align">New Post</h1>
		</div>
	</div>

	<%= render(partial: 'form') %>

	<%= link_to 'Back to your posts', posts_path %>
</div>
